{% extends 'base.html' %}

{% block title %}Listar Ativos{% endblock %}

{% block content %}
  <h1>Ativos Cadastrados</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for ativo in ativos %}
        <tr>
          <td>{{ ativo.id }}</td>
          <td>{{ ativo.codigo }}</td>
          <td>{{ ativo.nome }}</td>
          <td>
            <a href="{% url 'editar_parametros' ativo.id %}" class="btn btn-primary btn-sm">Editar Parâmetros</a>
            <a href="{% url 'consultar_cotacoes' ativo.id %}" class="btn btn-info btn-sm">Consultar Cotações</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'create_ativo' %}" class="btn btn-success">Adicionar Novo Ativo</a>
{% endblock %}
